<div class="jumbotron">
  <div class="col-sm-5 col-sm-offset-2 text-center">
    <h1>SITE UNDER CONSTRUCTION</h1>
    <h1>Ted Whang</h1>
    <h2>Full stack Software Engineer</h2>
    <h3>Seattle, WA</h3>
  </div>
</div>
<div class="main">
  
</div>

<script>
  $(document).ready(function() {

  });
</script>